@font-face {
    font-family: 'Archivo';
    src: url('/static/fonts/Archivo-ExtraLight.woff2') format('woff2'),
    url('/static/fonts/Archivo-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Archivo';
    src: url('/static/fonts/Archivo-Medium.woff2') format('woff2'),
    url('/static/fonts/Archivo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Archivo';
    src: url('/static/fonts/Archivo-Thin.woff2') format('woff2'),
    url('/static/fonts/Archivo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Archivo';
    src: url('/static/fonts/Archivo-Light.woff2') format('woff2'),
    url('/static/fonts/Archivo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Archivo';
    src: url('/static/fonts/Archivo-SemiBold.woff2') format('woff2'),
    url('/static/fonts/Archivo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Archivo';
    src: url('/static/fonts/Archivo-ExtraBold.woff2') format('woff2'),
    url('/static/fonts/Archivo-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Archivo';
    src: url('/static/fonts/Archivo-Bold.woff2') format('woff2'),
    url('/static/fonts/Archivo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Archivo';
    src: url('/static/fonts/Archivo-Regular.woff2') format('woff2'),
    url('/static/fonts/Archivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
:root {
    color-scheme: light;
    --border-color: #000;
    --card-background: #fff;
    --background-color: #fff;
    --text-color: #000;
    --status-background-color: #888888;
    --override-background-color: #e0e0e0;
    --override-background-color2: #e7e7e7;
    --paused-background-color: #f8f8f8;
    --card-border: #e5e7eb;
    --box-shadow: 0 0 #0000,0 0 #0000, 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --text-color: #fff;
        --border-color: #fff;
        --background-color: #171717;
        --card-background: #252525;
        --card-border: none;
        --override-background-color: #3c3c3c;
        --override-background-color2: #1b1b1b;
        --box-shadow: 0 0 #0000,0 0 #0000, 0 2px 10px 0 rgba(0,0,0,.6),0 1px 2px -1px rgba(0,0,0,.6);
        --paused-background-color: #000;
    }

    .sync-btn {
        filter: invert(1);
    }
}

html, body {
    background: var(--background-color);
}

body {
    color: var(--text-color);
    font-family: Archivo;
    max-width: 800px;
    margin: 20px auto;
    letter-spacing: .5px;
}

.card {
    background: var(--card-background);
    border: 1px solid var(--card-border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.25rem;
    margin-bottom: 1rem;
}

.key {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.3;
}

.current-status {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.3;
    font-size: 0.85rem;
    margin-bottom: .5rem;
    color: var(--status-background-color);

}
.current-status .text {
    font-weight: 600;
}
.btn {
    border: 1px solid transparent;
    border-radius: .25rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    padding: .5rem 1rem;
    text-align: center;
    transition: all .2s ease-in-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}

.btn.white {
    background: white;
    color: black;
    border: 1px solid black;
}

.btn.white:hover {
    background: rgb(235, 235, 235);
}

.btn.black {
    background:black;
    color:white;
}

.btn.black:hover {
    background: rgb(44, 44, 44);
}

@media (prefers-color-scheme: dark) {
    .btn.black {
        border: 1px solid white;
    }
    .btn.white {
        border: none;
    }
}

.btn.small {
    font-size: 0.9rem;
    padding: .3rem 0.6rem;
    height: 30px;
}
.override {
    background: var(--override-background-color);
    border-bottom: 3px solid var(--status-background-color);
    color: var(--text-color);
    font-size: 1.1rem;
    margin: 1rem -1.25rem -1.25rem;;
    padding: 1rem 1.25rem;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 0 .5rem .5rem;
    position: relative;
}

.override.disabled {
    background: repeating-linear-gradient(
            -55deg,
            var(--override-background-color),
            var(--override-background-color) 30px,
            var(--override-background-color2) 10px,
            var(--override-background-color2) 60px
    );
}

.override.paused {
    background: var(--paused-background-color);
}
.override.paused .status {
    opacity: 0.4;
}

.override .status {
    font-weight: bolder;
    font-size: 1.1rem;
}
.container {
    margin: 20px 0;
}
.feature-container {
    padding: 20px 0;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    tab-size: 4;
    -webkit-font-smoothing: antialiased;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    font-feature-settings: inherit;
    font-family: inherit;
    font-variation-settings: inherit;
    font-weight: inherit;
    margin: 0;
    appearance: none;
    display: block;
    width: 100%;
    border-radius: .5rem;
    border-width: 1px;
    border-color: rgb(209 213 219);
    padding: .625rem;
    font-size: .875rem;
    line-height: 1.25rem;
}
.input:focus {
    border-color: var(--border-color);
    outline: 1px solid var(--border-color);
    outline-style: ridge;
}
.search {
    display: block;
    margin-top: 1rem;
}
.key strong {
    font-weight: 900;
}
.head{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.head .actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3px;
}
.selected {
    outline: 3px solid var(--border-color);
    outline-style: ridge;
}
.shortcuts {
    display: none;
}
.selected .shortcuts {
    display: inline;
}
.flag {
    scroll-margin: 80px;
}

.flag .action {
    display: flex;
    align-items: center;
    gap: 5px;
}

.flag .action .muted {
    opacity: 0.8;
}

.flag .action .list {
    visibility: hidden;
    cursor: pointer;
}

.remote-select {
    font-size: 0.9rem;
    padding: .3rem 0.6rem;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    background: var(--background-color);
}

.sync {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.sync-btn {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-play-state: paused;

    display: inline-block;
    height: 20px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.sync-btn:hover {
    animation-play-state: running;
}

.detail-container {
    display: flex;
    gap: 8px;
    align-items: stretch;
    flex-direction: column;
}

.strategy {
    border-radius: 6px;
    background: var(--card-border);
}

.strategy .title {
    font-weight: 700;
    padding: 0.5rem 0.5rem 0;;
    font-size: 1rem;
    color: var(--text-color);
}

.strategy .title .text {
    font-weight: 500;
}

.constraint {
    margin: 8px;
    display: flex;
    gap: 8px;

    background: var(--card-background);
    padding: 8px;
    border: 1px solid rgb(225, 225, 227);
    border-radius: 8px;
    box-shadow: none;
    align-items: center;
}

.name {
    color: var(--text-color);
    font-weight: 500;

    overflow: hidden;
    max-width: 100px;
    min-width: 100px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    word-break: break-word;
    font-size: 0.875rem;
}

.inverted {
    color: var(--status-background-color);
}

.operator {
    display: flex;
    margin: auto 0px;
    min-width: 100px;
    position: relative;

    padding: 4px 12px;
    border-radius: 4px;
    background-color:var(--override-background-color);
    line-height: 1.25;

    font-size: 0.875rem;

    color: var(--text-color);
    justify-content: center;
}

.values{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    font-size: 0.875rem;
    margin: auto 0px;
    color: var(--text-color);
}

@keyframes spin {
    100% {transform: rotate(1turn); }
}

.verdict {
  color: var(--text-color);
}

.verdict span {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    background-color: var(--override-background-color);
    color: var(--text-color);
    border: 1px solid var(--status-background-color);
}

kbd {
    border: 2px solid var(--status-background-color);
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow);
    font-size: .825rem;
    padding: .25rem;
}


.kbd-shortcuts {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kbd-shortcut {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
}

.kbd-shortcut .action {
    font-size: 0.8rem;
}

.help {
    padding: 2rem;
}

#help-dialog {
    margin: auto;

    background: var(--card-background);
    border: 1px solid var(--card-border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.keys {
    flex: 1;
    text-align: left;
}

.action {
    flex: 1;
    text-align: right;
}

::backdrop {
    background: var(--text-color);
    opacity: 0.4;
}