{{- if and (not .Values.sidecar.enabled) .Values.ingress.enabled -}}
{{- $base := default "" .Values.ingress.basePath -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "overleash.fullname" . }}
  namespace: {{ include "overleash.namespace" . | quote }}
  labels:
    {{- include "overleash.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- if and $.Values.ingress.enableDashboard $.Values.ingress.enableClientApi $.Values.ingress.enableFrontedApi }}
          - path: "{{ $base }}/"
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ include "overleash.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
          {{ else }}
          {{ if and $.Values.ingress.enableDashboard }}
          - path: "{{ $base }}/"
            pathType: Exact
            backend:
              service:
                name: {{ include "overleash.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
          - path: "{{ $base }}/dashboard"
            pathType: Prefix
            backend:
              service:
                name: {{ include "overleash.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
          - path: "{{ $base }}/override"
            pathType: Prefix
            backend:
              service:
                name: {{ include "overleash.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
          - path: "{{ $base }}/static"
            pathType: Prefix
            backend:
              service:
                name: {{ include "overleash.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
          {{- end }}
          {{ if and $.Values.ingress.enableClientApi }}
          - path: "{{ $base }}/api/client"
            pathType: Prefix
            backend:
              service:
                name: {{ include "overleash.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
          {{- end }}
          {{ if and $.Values.ingress.enableFrontedApi }}
          - path: "{{ $base }}/api/frontend"
            pathType: Prefix
            backend:
              service:
                name: {{ include "overleash.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
          {{- end }}
          {{- end }}
    {{- end }}
{{- end }}
