name: Publish Docker image

on:
  release:
    types: [published]
  push:
    branches:
      - 'master'

jobs:
  push_to_registry:
    env:
      REGISTRY: 'docker.io'
      IMAGE_NAME: 'iandenh/overleash'
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:

      - name: Get release Version
        id: version
        if: github.event_name == 'release'
        run: |
          VERSION=${{ github.ref_name }}
          echo "VERSION=${VERSION:1}" >> "$GITHUB_OUTPUT"

      - name: Get Version
        id: version
        if: github.event_name != 'release'
        run: |
          echo ${{ github.ref_name }} >> "$GITHUB_OUTPUT"

      - name: Check out the repo
        uses: actions/checkout@v5
        with:
          submodules: 'true'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            iandenh/overleash
            ghcr.io/${{ github.repository }}
          flavor: |
            latest=false
          tags: |
            type=schedule
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}},enable=${{ github.event_name == 'release' && !github.event.release.prerelease }}
            type=ref,event=tag
            type=sha
            type=raw,value=latest,enable=${{ github.event_name == 'release' && !github.event.release.prerelease }}
            type=raw,value=beta,enable=${{ github.event_name == 'release' && github.event.release.prerelease }}
            type=edge
            

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          file: ./Dockerfile
          push: true
          sbom: true
          provenance: mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ steps.version.outputs.VERSION }}

      - name: Generate artifact attestation to Docker
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

      - name: Chart | Push
        uses: appany/helm-oci-chart-releaser@v0.5.0
        if: github.event_name == 'release'
        with:
          name: overleash
          repository: iandenh/charts
          tag: ${{ steps.version.outputs.VERSION }}
          app_version: ${{ steps.version.outputs.VERSION }}
          path: helm/overleash
          registry: ghcr.io
          registry_username: ${{ secrets.REGISTRY_USERNAME }}
          registry_password: ${{ secrets.REGISTRY_PASSWORD }}