permissions:
  contents: read

name: Go

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'true'
      - name: Build binaries in "${{ matrix.BUILD_TARGET }}" mode
        run: |
          cd ${{ github.workspace }}/yggdrasil-bindings 
          cargo build --release
          sudo cp target/release/libyggdrasilffi.so /usr/local/lib
          sudo ldconfig
          cd ${{ github.workspace }}/tests
          git clone --depth 5 --branch v5.1.9 https://github.com/Unleash/client-specification.git client-specification
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'
      - name: Install dependencies
        run: go get .
      - name: Install dependencies
        run: |
          go install github.com/a-h/templ/cmd/templ@latest
          templ generate
      - name: Test with the Go CLI
        run: |
          go test ./...
